
.left {
	float: left;
}
.right {
	float: right;
}

#slide{
	background-image: url('../images/home/background-slide.png');
	height: 400px;
	width: 100%;
}
#slide img{
	margin-top: 40px;
	height: 100%;
	width: 100%;
}
.inline {
	display: inline-block;
}

/*Introduce*/
#introduce {
	height: 400px;
	background: #ffffff; 
}
/*#introduce:after {
    clear: both;
    content: ".";
    display: block;
    height: 0; 
    line-height: 0; 
    visibility: hidden; 
}*/
#introduce .left {
	width: 550px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
#intro-title {
	margin-top: 40px;
	font-size: 30px;
	color: #333333;
}
#intro-content {
	margin-top: 30px;
	font-size: 17px;
	color: #033333;
}
#intro-footer {
	margin-top: 40px;
}
#intro-footer img{
	margin-right: 10px;
}
#introduce .right {
	margin-top: 40px;
}
#introduce .right img {
	height: 100%;
	width: 100%;
}


/*Offer*/
#offer {
	/*display: inline;*/
	clear: both;
	height: 350px;
	background: #f89502;
	/*padding-top: 40px;*/
}

.offer-main {
	margin: auto;
	width: 1200px;
}
#offer img{
	/*height: 350px;*/
	
}
#offer img.first {
	margin-top: 30px;
	margin-left: 200px;
}

#oList {
	float: left;
}