#top {
    width: 100%;
    height: 30px;
    background-color: #0f75bc;
    color: #fff0f0;
    margin: 0;
    padding-top: 5px;

}

#top a {
    text-decoration: none;
    color: #fff0f0;
}

#top a:hover{
    color: #5dade2;
}
#menu nav{
    height:100px;
    margin-bottom: 0px;
}
#menu ul{
    padding-top:20px;
}
/*Banner*/
#baner{
    clear: both;
    width: 100%;
    height: 100px;
    margin-bottom: 0px;
    background-image: url('../images/baner.png');
    background-size: 100%;

}
#baner p{
    color: #ffffff;
    font-size: 30px;
    padding-top: 25px;
}

#baner .baner-right {
    padding-top: 35px;
    font-size: 15px;
}
#baner a{
    text-decoration: none;
    color: #ffffff;
}
#baner a:hover{
    color:#0000FF;
}
/*Begin Main*/


#body {
    padding-top: 20px;
    background-color: #f2f2f2;
}
#main {
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 60px;
    margin-bottom: 80px;
}
#main a{
    text-decoration: none;
}
#main ul {
    list-style: none;
}
.titlePost {
    color: #0f75bc;
    font-size: 25px;
}

.recommend a{
    text-decoration: none;
    color: #888888;
}

.content {
    margin-top:40px;
}
.content p{
    margin-top: 40px;
}

.author {
    text-align: right;
    color: #cdcdcd;
    border-bottom: dotted 1px #d7d7d7;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.facebook a{
    padding-right: 10px;
}
.facebook p img{
    padding-right: 5px;
}

.panelHeading {
    font-size: 20px;
}

/*Right*/

.panelContent{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: dotted 1px #cdcdcd;
    overflow: auto;
}
.panelRight{
    float:right;
    width: 80%;
}
.panelRight a{
    text-decoration: none;
    color: #272727;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
}

/*EndRight */

/*Footer*/
#footer1{
    background-color: #ffffff;
    height: 150px;

}
#footer1 img{
    padding-right: 30px;
    padding-top: 30px;
}
#footer2{
    background-color: #f89502;
    height: 15px;
}
#footer3{
    background-color: #0f75bc;
    height: 200px;
}

.text1{
    padding-top:30px;
    color: #dddddd;
    font-size: 18px;
}
.text2{
    color: #dddddd;
    font-size: 12px;
}

#info1 ul li {
    display: inline;
    font-size: 10px;
    color: #5eb1fa;
    border-right: dotted 1px #5eb1fa;
    padding-right: 15px;
    padding-left: 15px;
}
#info1 ul li .lithird{
    border: none;
}

#info2 {
    margin-top: 20px;
}
#info2 img{
    padding-right: 20px;
}

.f3Right {
    float:right;
    margin-left: 20px;
}
.f3Right img{
    width: 100%;
    height: 100%;
}
/*EndFooter*/